		<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="fh5co-top-logo">
				<div id="fh5co-logo"><a href="/index.html" style="text-transform: none">Showcase</a></div>
			</div>
			<div class="fh5co-top-menu menu-1 text-center">
				<ul>
					<li><a href="/">Home</a></li>
				<!-- 	<li class="has-dropdown">
						<a href="/projects/">Projects</a>
						<ul class="dropdown">
							<li><a href="/projects/">All</a></li>
							<li><a href="/projects/">Categories</a></li>
						</ul>
					</li>
				 -->
				 	<li><a href="/projects/">Projects</a></li>
					<li><a href="/blog/">Blog</a></li>
				</ul>
			</div>
			<div class="fh5co-top-social menu-1 text-right">
				<ul class="fh5co-social">
					<li><a href="{{ site.social.linkedin }}"><i class="icon-linkedin" target="_blank"></i></a></li>
					<li><a href="{{ site.social.github }}"><i class="icon-github"  target="_blank"></i></a></li>
					<li><a href="{{ site.social.instagram }}"><i class="icon-instagram"  target="_blank"></i></a></li>
					<li><a href="{{ site.social.facebook }}"><i class="icon-facebook"  target="_blank"></i></a></li>
				</ul>
			</div>
		</div>
	</nav>
	

					
