---
layout: default
---
		<div class="container">
			<div class="row top-line animate-box" style="padding-bottom: 4em">
				<div class="col-md-6 col-md-push-4 text-left intro">
					<h2>
						Hi, I'm abhishek balam.<br> I <i class="ion-icon ion-heart"> </i> to make stuff.
						<h3 class="fh5co-highlight">
						This is a showcase of all the projects I've enjoyed working on.
						</h3>
					</h2>
				</div>
			</div>
			<div class="row  animate-box">
				<div class="col-md-8 col-md-offset-2 ">
					
					{{content}}
					
					<br>
					<br>
					<h3 class="text-center">So please, go ahead, check out my projects <a href="/projects/">here</a>.</p>
					
					<!-- <p class="text-center">
						<a href="/all/" class="btn btn-primary text-center">Date</a>
						<a href="/categories/" class="btn btn-primary text-center">Categories</a>
					</p>
 -->

					<br><br>
				</div>

			</div>

		</div>
